@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

.text-balance {
  text-wrap: balance;
}

:root {
  /* breakpoints */
  --breakpoint-xs: 480px;

  /* core colors */
  --background: oklch(1 0 0);
  --foreground: oklch(0.039 0 0);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.039 0 0);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.039 0 0);

  --primary: oklch(0.09 0 0);
  --primary-foreground: oklch(0.98 0 0);

  --secondary: oklch(0.961 0 0);
  --secondary-foreground: oklch(0.09 0 0);

  --muted: oklch(0.961 0 0);
  --muted-foreground: oklch(0.451 0 0);

  --accent: oklch(0.961 0 0);
  --accent-foreground: oklch(0.09 0 0);

  --destructive: oklch(0.55 0.25 27);
  --destructive-foreground: oklch(0.98 0.01 27);

  --border: oklch(0.898 0 0);
  --input: oklch(0.898 0 0);
  --ring: oklch(0.039 0 0);

  /* charts */
  --chart-1: oklch(0.8 0.5 250);
  --chart-2: oklch(0.5 0.8 176);
  --chart-3: oklch(0.24 0.37 197);
  --chart-4: oklch(0.66 0.74 90);
  --chart-5: oklch(0.67 0.87 27);

  /* sidebar */
  --sidebar-background: oklch(0.98 0 0);
  --sidebar-foreground: oklch(0.261 0.053 240);
  --sidebar-primary: oklch(0.1 0.059 240);
  --sidebar-primary-foreground: oklch(0.98 0 0);
  --sidebar-accent: oklch(0.959 0.048 240);
  --sidebar-accent-foreground: oklch(0.1 0.059 240);
  --sidebar-border: oklch(0.91 0.13 220);
  --sidebar-ring: oklch(0.598 0.912 217.2);

  /* radius */
  --radius: 0.5rem;
}

@theme {
  --breakpoint-xs: var(--breakpoint-xs);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar-background: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --radius: var(--radius);
}
